<mat-card>
    <mat-action-list>
     <div mat-subheader>Menu</div>
     <button mat-list-item routerLink="/admin">
          <mat-icon mat-list-icon>home</mat-icon>
      Home
     </button>

     <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>how_to_reg</mat-icon>
    Profile
   </button>

     <button mat-list-item routerLink="/admin/writecomplaint">
        <mat-icon mat-list-icon>perm_identity</mat-icon>
    Customer
   </button>

   <button mat-list-item>
    <mat-icon mat-list-icon>accessibility_new</mat-icon>
Manager
</button>

<button mat-list-item>
    <mat-icon mat-list-icon>rocket</mat-icon>
Engineer
</button>
    </mat-action-list>
</mat-card>
